body{
    display: grid;
   
}

header,footer{
    display: flex;
    
}

h1{
    color:rgb(42, 164, 245);
      
}
#contenedor{
/*GRID permite dividir la pagina en diferentes areas*/
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;

}

#uno{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
}